.game-end-overlay {
    position: fixed;
    inset: 0;
    background: rgba(30, 28, 44,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    animation: fadeIn 0.4s forwards;
}

.game-end-box {
    background: rgba(30, 28, 44,0.98);
    padding: 40px 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.game-end-box h1 {
    font-size: 2.2rem;
    margin-bottom: 1em;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#play-again-btn, #back-to-menu-btn {
    margin: 0.5em;
    font-size: 1.2rem;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 14px;
    padding: 0.6em;
}

#play-again-btn:hover, #back-to-menu-btn:hover {
    transform: scale(1.05);
    color:whitesmoke;

}
